.css-listContainer {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;

  .css-list-item {
    text-align: center;
    margin: 5px;

    .css-list-item-name {
      color: blue;
      cursor: pointer;
    }
  }
}