//NOTE: variables
$menu-height: 50px;

.css-weatherSite {
  width: 100%;
  height: 100%;
}

.css-menu {
  height: $menu-height;
}

.css-body {
  height: calc(100% - #{$menu-height});
}



// #root { //REMOVE
//   $root-width: 300px;
//   $root-height: 400px;

//   width: $root-width;
//   height: $root-height;
//   position: absolute;
//   left: calc(50% - #{$root-width} / 2);
//   top: calc(50% - #{$root-height} / 2);
// }